@page
@model IndexModel
@inject UserManager<ApplicationUser> UserManager
@using IHostingEnvironment = Microsoft.AspNetCore.Hosting.IWebHostEnvironment;
@inject IHostingEnvironment _env
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage"/>
<div class="row">
    @{
        string str = UserManager.GetUserId(User) + ".jpeg";
    }
    <img src="~/images/@str" style="width:250px;height:250px;" alt="No Photo"/>
    <div class="col-md-6">
        <form enctype="multipart/form-data" id="profile-form" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-1">
                <input asp-for="Username" disabled />
            </div>
            <div class="form-floating mt-1">
                <input asp-for="Input.PhoneNumber" placeholder="Phone number" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Image">Profile Picture</label>
                <br />
                <input asp-for="Input.Image" type="file"/>
            </div>
            <div class="form-floating mt-1">
                <input asp-for="Input.Title" value="@UserManager.GetUserAsync(User).Result.Title" placeholder="Title"/>
            </div>
            <div class="form-floating mt-1">
                <input asp-for="Input.Title" value="@UserManager.GetUserAsync(User).Result.Description" placeholder="Description" />
            </div>
            <button id="update-profile-button" type="submit" class="w-100 metallic-button mt-2">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
