@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h3>Editare categorie</h3>

    <form method="post" action="/Category/Edit/@ViewBag.Category.CategoryId" class="d-flex">
        <input class="form-control mb-1 w-50" type="text" value="@ViewBag.Category.CategoryName" name="CategoryName" />
        <button class="metallic-button mx-2" type="submit">Save Category</button>
    </form>
</div>