@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="mt-4">
    At OpenDiscussion, we are committed to protecting your privacy. This privacy policy applies to the OpenDiscussion website and any related services, including mobile applications and API services (collectively, the "Services").
    </p>

<p>
    Please note that OpenDiscussion is a project for the University of Bucharest, and is intended for academic and research purposes only. As such, users should not submit any confidential or sensitive information through the Services.
</p>

<p>
    We collect certain information from you when you use the Services, including your name, email address, and any content you submit to the Services. This information is used solely for the purpose of providing and improving the Services, and to communicate with you about your use of the Services. We do not share your information with any third parties.
</p>

<p>
    We take reasonable measures to protect your information from unauthorized access or disclosure. However, please note that no internet transmission is completely secure, and we cannot guarantee the security of your information.
</p>

<p>
    We may update this privacy policy from time to time. We encourage you to review this policy periodically to stay informed about how we are protecting your information. If we make any material changes to this policy, we will notify you by posting a notice on the Services or by sending you an email.
</p>

<p>
    By using the Services, you consent to the collection, use, and sharing of your information as described in this privacy policy. If you have any questions about this policy, please contact us at boleklolek393@gmail.com.
</p>