@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.message != null)
{
    <div class="alert alert-dark" role="alert">
        @ViewBag.message
    </div>
}

<h3 class="text-center">Admin Tab</h3>

<ul class="mt-5 list-group list-group-flush">
@for (int i = 0; i < ViewBag.users.Count; i++) {
    <li class="list-group-item">
         <div class="d-flex justify-content-around">
            <div style="width: 300px">@ViewBag.users[i].UserName is @ViewBag.roles[i][0] </div>
                <a href="/Admin/Edit/@ViewBag.users[i].Id" class="metallic-button">Edit role</a>
        </div>
    </li>
}
</ul>