html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #333333; /* dark grey background color */
    font-family: 'Roboto', sans-serif; /* punchy sans-serif font */
    color: white;
    margin-bottom: 60px;
}

.card {
    background-color: rgb(0, 0, 0, 0.9);
}

.card-body {
    background-color: #333333; /* dark grey background color */
    color: white; /* white text color */
    border-radius: 4px; /* rounded corners */
}

.metallic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #808080; /* more grey color */
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    text-decoration: none; /* remove underline from link */
    font-family: 'Roboto', sans-serif; /* more punchy font */
}

.metallic-button:hover {
    background-color: gold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.metallic-button:active {
    background-color: #808080; /* return to more grey color */
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(0);
}

.metallic-button.disabled {
    background-color: #808080; /* grey color */
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}
